@import "./media";

@import "./var";

@mixin body {
    background-color: #666;
    // background-color: #E3E3E3;

    box-sizing: border-box;
    // background-color: #212121;
    // background-color: #918E94;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // overflow: hidden;
    // pointer-events: none;
    height: auto;
    // display: flex;

    // width: 100%;918E94

    .body {
        position: absolute;
        width: 100%;
        height: 720px;
        // background-color: skyblue;
        z-index: -10;
        display: flex;
        flex-direction: row-reverse;
        transition: 0s;
        transition-delay: 1s;


        .dark {
            position: absolute;
            // width: 70%;
            // height: 600px;
            height: 2px;
            // background-color: #212121;
            transition: padding 1s ease-out;
            border-bottom-left-radius: 100%;
            z-index: -5;
            // transition-delay: 2s;
        }

        .light {
            position: absolute;
            // width: 50%;
            // height: 450px;
            // display: block;
            height: 2px;
            // background-color: #e3e3e3;
            transition: padding 1s ease-out;
            border-bottom-left-radius: 100%;
            z-index: -5;
            // transition-delay: 2s;

        }

        .norm {
            position: absolute;
            // width: 30%;
            // height: 250px;
            height: 2px;
            // background-color: red;
            transition: padding 1s ease-out;
            border-bottom-left-radius: 100%;
            z-index: -5;
            // transition-delay: 2s;

        }
    }
}

// @mixin click{
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .click-effect{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//     }
//     .spike{
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         transform-origin: bottom;
//         width: 0;
//         height: 0;
//         background: white;
//         border-radius: 0.3rem;
//         transform: rotate(var(--angle)) translateY(var(--distance));
//         // animation: animate 0.75s infinite;
//     }

//     .effect .spike{
//         animation: animate 0.75s ;
//     }

//     @keyframes animate{
//         0% {
//             width: 3px;
//             height: 12px;
//             opacity: 0;
//             transform: rotate(var(--angle)) translateY(0);
//         }

//         2% {
//             width: 4px;
//             height: 16px;
//             opacity: 1;
//             transform: rotate(var(--angle)) translateY(0);
//         }

//         100% {
//             width: 0px;
//             height: 0px;
//             opacity: 1;
//             transform: rotate(var(--angle)) translateY(var(--distance));
//         }
//     }
// }

@mixin header {
    width: 100%;
    // background-color: #333;
    height: auto;
    font-family: 'poppins';

    nav {
        display: flex;
        position: sticky;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        padding: 20px;

        .logo img {
            margin-left: 10px;

        }

        .btn-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            // padding-left: 20px;
        }

        .pg-btn {
            // position: relative;
            width: 70px;
            height: 50px;
            background-color: #444;
            // background-color: var(--bclr);
            // border: 1px solid black; 
            border-radius: 20px;

            box-shadow: 0 5px 25px rgba(1 1 1/30%);
            cursor: pointer;
            overflow: hidden;
            transition: transform 0.20s linear;
            border: none;
            color: #333;
            margin-left: 20px;

            // outline: none;
            // transition: 0.4s;
            .icon {
                width: 35px;
                // z-index: 3;
                pointer-events: none;

                path {
                    transition: 0.5s;
                }
            }


        }

        .pg-btn:hover,
        .pg-btn:hover path {
            fill: #333 !important;
            // transition: 0.4s ease;
            z-index: 3999;
            color: #e3e3e3;
        }

        .pg-btn::before {
            content: '';
            position: absolute;
            transform: translate(-50%, -50%);
            background: var(--clr);
            left: var(--x);
            top: var(--y);
            border-radius: 50%;
            transition: 1s, left 0s, top 0s;
        }

        .pg-btn:hover::before {
            width: 80px;
            height: 80px;
            z-index: -4;
            // transition: 0.4s;
        }



        // .log-in{
        //     // background-color: black;
        // }



        .login-btn {
            // position: relative;
            width: 70px;
            height: 50px;
            background-color: #e3e3e3;
            // background-color: var(--bclr);
            // border: 1px solid black; 
            border-radius: 20px;
            box-shadow: 0 5px 25px rgba(1 1 1/30%);
            cursor: pointer;
            overflow: hidden;
            transition: transform 0.20s linear;
            border: none;
            color: #333;
            margin-left: 20px;
            outline: none;
            // z-index: 1100 !important;
            // transition: 0.4s;

        }

        .login-btn:hover {
            fill: #333 !important;
            // transition: 0.4s ease;
            z-index: 3999;
            color: #e3e3e3;
        }

        .login-btn::before {
            content: '';
            position: absolute;
            transform: translate(-50%, -50%);
            background: var(--clr);
            left: var(--x);
            top: var(--y);
            border-radius: 50%;
            border: none;

            transition: 1s, left 0s, top 0s;
        }

        .login-btn:hover::before {
            width: 80px;
            height: 80px;
            z-index: -4;
            // transition: 0.4s;
        }

    }

    // .navArea{
    //     position: relative;
    //     width: 100%;
    //     height: 100vh;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     // gap: 50px;
    //     flex-wrap: wrap;
    //     // flex-basis: 50%;

    //     .card{
    //         position: absolute;
    //         box-sizing: border-box;
    //         width: 320px;
    //         height: 400px;
    //         background: rgba(45,45,45,1);
    //         border-radius: 20px;
    //         overflow: hidden;
    //         top: 50%;
    //         left: 50%;
    //         transition: 0.5s ease-in-out;
    //     }

    //     ::before{
    //         content: '';
    //         position: absolute;
    //         top: var(--y);
    //         left: var(--x);
    //         transform: translate(-50%,-50%);
    //         background: radial-gradient(var(--clr),transparent,transparent);
    //         width: 400px;
    //         height: 400px;
    //         opacity: 0;
    //         transition: 0.5s, top 0s, left 0s;
    //     }

    //     :hover::before{
    //         opacity: 1;
    //     }

    //     ::after{
    //         content: '';
    //         position: absolute;
    //         inset: 2px;
    //         border-radius: 18px;
    //         background: rgba(45,45,45,0.75);
    //     }

    //     :nth-child(1){
    //         z-index: 4;
    //         background-color: purple;
    //     }
    //     :nth-child(2){
    //         z-index: 3;
    //         background-color: aliceblue;
    //     }

    //     :nth-child(3){
    //         z-index: 2;
    //     }
    // }




    // .container{
    //     width: 100%;
    //     height: 100%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     // padding: 30px;

    //     .close{
    //         width: 70px;
    //         height: 50px;
    //         background-color: #444;
    //         // background-color: var(--bclr);
    //         border: 1px solid black; 
    //         border-radius: 20px;
    //         box-shadow: 0 5px 25px rgba(1 1 1/30% );
    //         cursor: pointer;
    //         overflow: hidden;
    //         transition: transform 0.20s linear;
    //         border: none;
    //         color: #333;
    //         margin-left: 20px;
    //         outline: none;
    //         top: 5%;
    //         left: 50%;
    //         transform: translate(-50%, 0);
    //         position: absolute;
    //         .icon {
    //             width: 35px;
    //             // z-index: 3;
    //             pointer-events: none;

    //             path{
    //                 transition: 0.5s;
    //             }
    //         }


    //     }

    //     .pg-btn:hover,.close:hover path{
    //         fill: #333 !important;
    //         transition: 0.40s ease;
    //         z-index: 3999;
    //         color: #e3e3e3;
    //     }

    //     .close::before{
    //         content: '';
    //         position: absolute;
    //         transform: translate(-50%,-50%);
    //         background: var(--clr);
    //         left: var(--x);
    //         top: var(--y);
    //         border-radius: 50%;
    //         transition: 1s,left 0s,top 0s;
    //     }

    //     .close:hover::before{
    //         width: 80px;
    //         height: 80px;
    //         z-index: -4;

    //     }

    //     // .whots{
    //     //     position: absolute;
    //     //     top: 0;
    //     //     left: 0;
    //     //     width: 100%;
    //     //     height: 100%;
    //     //     display: flex;
    //     //     justify-content: center;
    //     //     align-items: center;
    //     //     pointer-events: none;


    //     //     .whot{
    //     //         position: relative;
    //     //         width: 200px;
    //     //         height: 300px;
    //     //         border-radius: 10px;
    //     //         background: #ececec;
    //     //         box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);
    //     //         display: flex;
    //     //         justify-content: center;
    //     //         align-items: center;

    //     //     }

    //     //     .c1{
    //     //         transform: translate(50px, 20px) rotate(5deg);
    //     //     }

    //     //     .c2{
    //     //         transform: translate(-5px, -10px) rotate(2.5deg);
    //     //     }

    //     //     .c3{
    //     //         transform: translate(-25px, 20px) rotate(2deg);
    //     //     }

    //     //     .c4{
    //     //         transform: translate(-40px, -10px) rotate(7.5deg);
    //     //     }

    //     //     .c5{
    //     //         transform: translate(-70px, 30px) rotate(-7.5deg);
    //     //     }
    //     // }

    //     .footer{
    //         position: absolute;
    //         bottom: 5%;
    //         left: 50%;
    //         transform: translate(-50%,0);
    //         color: #fff;
    //     }
    // }

    .click-effect {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
    }

    .spike {
        position: absolute;
        bottom: 0;
        left: 0;
        transform-origin: bottom;
        width: 0;
        height: 0;
        background: white;
        border-radius: 0.3rem;
        transform: rotate(var(--angle)) translateY(var(--distance));
        // animation: animate 0.75s infinite;
    }

    .effect .spike {
        animation: animate 0.75s;
    }

    @keyframes animate {
        0% {
            width: 3px;
            height: 12px;
            opacity: 0;
            transform: rotate(var(--angle)) translateY(0);
        }

        2% {
            width: 4px;
            height: 16px;
            opacity: 1;
            transform: rotate(var(--angle)) translateY(0);
        }

        100% {
            width: 0px;
            height: 0px;
            opacity: 1;
            transform: rotate(var(--angle)) translateY(var(--distance));
        }
    }
}

@mixin section {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;

    .htext {
        width: 40%;
        height: 550px;
        // background-color: blue;
    }


    .ticon {
        position: relative;
        width: 60%;
        height: 550px;
        // background-color: green; 
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        transition: 1s ease-in-out !important;

        :hover {
            .t1 {
                transform: translateZ(20px) translate(130px, 80px) rotate(37deg) scale(1.15);
                transition: 2.2s ease;
            }

            .t2 {
                transform: translateZ(40px) translate(60px, 60px) rotate(22deg) scale(1.15);
                transition: 1.8s ease;
            }

            .t3 {
                transform: translateZ(60px) translate(0px, 60px) rotate(0deg) scale(1.15);
                transition: 1.4s ease;
            }

            .t4 {
                transform: translateZ(80px) translate(-60px, 60px) rotate(-22deg) scale(1.15);
                transition: 1s ease;
            }

            .t5 {
                transform: translateZ(100px) translate(-130px, 80px) rotate(-37deg) scale(1.15);
                transition: 0.6s ease;
            }
        }


        .ticpos {
            position: absolute;
            // background-color: red;
            height: 550px;
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform-style: preserve-3d;
            margin-right: 110px;
            margin-bottom: 50px;
            border-radius: 220px;


            // margin-left: 0px;
            // padding: 0px;


            // :hover{
            //     .t1{
            //         transform: translateZ(10px) translate(130px, 80px) rotate(37deg) scale(2);
            //         transition: 1.9s ease;
            //     }
            // }
        }

        .ticket1 {
            width: 270px;
            height: 450px;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(2px);
            border-radius: 20px;
            overflow: hidden;
            z-index: 100;
            top: -15px;
            border-color: #ececec;
            outline-color: #444;
            outline-width: 1px;
            outline-style: solid;
            outline-offset: -15px;
            // padding-right: 0px;
            // margin-right: 600px !important;
            // background-color: #F2EBD3 !important;
        }

        .t1 {
            transform: translateZ(1px) translate(130px, 80px) rotate(37deg);
            background-color: rgba(63, 59, 59, 0.8);
            transition: 1s ease-out !important;


            // background-color: #A59781;
            // background-color: #F2EBD3;
        }

        .t2 {
            transform: translateZ(2px) translate(60px, 60px) rotate(22deg);
            background-color: rgba(76, 114, 152, 0.8);
            transition: 1s ease-out !important;

            // background-color: #A59781;
            // background-color: #F2EBD3;
        }

        .t3 {
            transform: translateZ(3px) translate(0px, 60px) rotate(0deg);
            background-color: rgba(68, 141, 86, 0.8);
            transition: 1s ease-out !important;

            // background-color: #A59781;
            // background-color: #F2EBD3;
        }

        .t4 {
            transform: translateZ(4px) translate(-60px, 60px) rotate(-22deg);
            background-color: rgba(164, 164, 92, 0.8);
            transition: 1s ease-out !important;

            // background-color: #A59781;
            // background-color: #F2EBD3;
        }

        .t5 {
            transform: translateZ(5px) translate(-130px, 80px) rotate(-37deg);
            background-color: rgba(138, 86, 86, 0.8);
            transition: 1s ease-out !important;

            // background-color: #A59781;
            // background-color: #F2EBD3;
        }


        .tic {
            width: 270px;
            height: 450px;
            position: relative;
            // margin-right: 300px !important;
            padding: 38px 20px 125px 20px;
        }

        .tic-profile {
            display: flex;
            flex-direction: row;
            transform: rotate(90deg);
            margin-left: 90px;
            margin-top: 90px;
            position: absolute;
        }

        .tic-event {
            position: absolute;
            margin-top: 70px;
            margin-left: -40px;
            transform: rotate(90deg);
        }

        .pro-img {
            width: 60px;
            height: 60px;
            margin: 10px 5px 5px 0;
            border-radius: 50%;
        }

        .pro-name {
            font-size: calc(25px * var(--size));
            margin: 7px 0px 5px 10px;
            font-weight: 700;
            color: #fff;

            //  color: #511A1E ;
            // color: #372A04;
            // color: #474754;
        }

        .pro-username {
            margin: 10px 10px 0 10px;
            color: #8a8f98;

            //  color: #511A1E ;
            // color: #372A04;
            // color: #474754;
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 18px;
        }

        .pro-icon img {
            width: 16px;
            height: 24px;
        }

        .tic-num {
            width: 100%;
            position: absolute;
            bottom: 0;
            font-family: 'Outfit', sans-serif;
        }

        .num {
            transform: rotate(180deg);
            font-size: calc(30px * var(--size));
            font-weight: 700;
            text-align: center;
            padding: 35px;
            width: 210px;
            border-bottom: 2px dashed #fff;
            color: #fff;

            // color: #511A1E ;
            // color: #372A04;
            // color: #474754;
            font-family: 'Outfit', sans-serif;
        }
    }
}

@mixin colorMode {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 20px;
    z-index: 2;

    .c-mode {
        // display: block;
        // position: absolute;
        // position: relative;
        width: 70px;
        height: 50px;
        background-color: #e3e3e3;
        // background-color: var(--bclr);
        // border: 1px solid black; 
        border-radius: 20px;
        box-shadow: 0 5px 25px rgba(1 1 1/30%);
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.20s linear;
        border: none;
        color: #333;
        margin-left: 20px;
        outline: none;
        // transition: 0.4s;
        // display: flex;
        // align-self: flex-end;
        margin-top: -1500rem;


        :hover {
            fill: #333 !important;
            // transition: 0.4s ease;
            z-index: 3999;
            color: #e3e3e3;
        }

        ::before {
            content: '';
            position: absolute;
            transform: translate(-50%, -50%);
            background: var(--clr);
            left: var(--x);
            top: var(--y);
            border-radius: 50%;
            border: none;

            transition: 1s, left 0s, top 0s;
        }

        :hover::before {
            width: 80px;
            height: 80px;
            z-index: -4;
            // transition: 0.4s;
        }
    }

    .dark {
        opacity: 0;
        transition: 0.5s ease-in-out;
        transition-delay: 1s;
    }

    .light {
        transition: 0.5s ease-in-out;
        transition-delay: 1s;
    }

    .norm {
        // display: none;
        transition: 0.5s ease-in-out;
        transition-delay: 1s;
        opacity: 0;
    }
}


@mixin loginPageH {
    position: absolute;
    width: 100%;
    height: 727px;
    // background-color: skyblue;
    // z-index: -10;
    display: flex;
    flex-direction: row-reverse;
    // justify-content: center;
    // align-items: center;
    // transition: 0s;
    // transition-delay: 1s;
    background-color: peru;

    .logPage {
        position: relative;
        // position: absolute;
        // display: none;
        height: 2px;
        padding: 0;
        margin: 0;
        transition: padding 1s ease-out;
        border-bottom-left-radius: 100%;
        display: flex;
        background-color: red;
        // flex-direction: column-reverse;
        // justify-content: center;
        // align-items: center;


        // * {
        //     margin: 0;
        //     padding: 0;
        //     box-sizing: border-box;
        //     font-family: sans-serif !important;
        //   }
        //   body {
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     min-height: 100vh;
        //     background: #161623;
        //   }
      

        // .signup {
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     min-height: 100vh;
        //     background: #161623;
        //     transition: 0.8s;
        // }

        // .signup::before {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background: linear-gradient(#2196f3, #f0f);
        //     clip-path: circle(20% at 10% 70%);
        //     transition: 0.8s;
        // }

        .signup::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(#f00, #f0f);
            clip-path: circle(30% at right 10%);
            transition: 0.8s;
        }

        .signup .container .card {
            height: 540px;
        }
        

        .container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1200px;
            /* width: 100%; */
            flex-wrap: wrap;
            z-index: 1;
            // background-color: red;

            .card {
                position: relative;
                width: 350px;
                height: 350px;
                margin: 30px;
                padding-top: 35px;
                /* margin-top: 0px; */
                box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
                border-radius: 15px;
                background: rgba(255, 255, 255, 0.1);
                /* overflow: hidden;  */
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                border-left: 1px solid rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(5px);
                transition: 1s;
                /* overflow: hidden; */
                /* left: -100%; */


                form h2 {
                    /* margin-top: 60px; */
                    color: white;
                    /* position: absolute; */
                }

                /* .card .container {
                height: 100%;
                width: 100%;
              } */
                form {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    /* width: fit-content;
                    height: fit-content; */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    transition: 0.8s;
                    /* left: -100%; */
                    /* overflow: hidden; */

                    #signin {
                        left: 0 !important;
                        transition: 0.5s;
                    }

                    #signupform {
                        left: 100%;
                        display: none;
                        transition: 0.5s;
                    }


                    .inputf {
                        width: 280px;
                        height: fit-content;
                        position: relative;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        margin-bottom: 25px;
                        transition: 0.5s;


                        .input {
                            position: relative;
                            width: 100%;
                            height: 50px;
                            box-sizing: border-box;
                            padding: 15px;
                            padding-right: 50px;
                            border: none;
                            /* border: 1px solid rgba(255, 255, 255, 0.5); */
                            /* border: 0 0 3px 0 solid rgba(255, 255, 255, 0.5); */
                            outline: none;
                            /* box-shadow: inset 0 0 0 2px black; */
                            background: rgba(0, 0, 0, 0.15);
                            font-family: poppins;
                            color: white;
                            font-size: 18px;
                            letter-spacing: 2px;
                            border-radius: 8px;
                            /* z-index: 100; */
                        }


                        .imp {
                            position: absolute;
                            width: 280px;
                            height: 52px;
                            z-index: -2;
                            border-bottom: 3px solid red;
                            border-radius: 15px;
                            display: none;
                            transition: 0.5s;
                            /* background-color: #f00; */
                        }

                        .imc {
                            position: absolute;
                            width: 280px;
                            height: 52px;
                            z-index: -1000;
                            border-bottom: 3px solid red;
                            border-radius: 15px;
                            display: none;
                            mix-blend-mode: multiply;
                            transition: 0.5s;
                            /* background-color: #f00; */
                        }

                        .imq {
                            position: absolute;
                            width: 280px;
                            height: 52px;
                            z-index: -1000;
                            border-bottom: 3px solid red;
                            border-radius: 15px;
                            display: none;
                            mix-blend-mode: multiply;
                            transition: 0.5s;
                            /* background-color: #f00; */
                        }

                        .imx {
                            position: absolute;
                            width: 280px;
                            height: 52px;
                            z-index: -1000;
                            border-bottom: 3px solid red;
                            border-radius: 15px;
                            display: none;
                            mix-blend-mode: multiply;
                            transition: 0.5s;
                            /* background-color: #f00; */
                        }

                        .imw {
                            position: absolute;
                            width: 280px;
                            height: 52px;
                            z-index: -1000;
                            border-bottom: 3px solid red;
                            border-radius: 15px;
                            display: none;
                            mix-blend-mode: multiply;
                            transition: 0.5s;
                            /* background-color: #f00; */
                        }

                        .imz {
                            position: absolute;
                            width: 280px;
                            height: 52px;
                            z-index: -1000;
                            border-bottom: 3px solid red;
                            border-radius: 15px;
                            display: none;
                            mix-blend-mode: multiply;
                            transition: 0.5s;
                            /* background-color: #f00; */
                        }


                        button {
                            width: inherit;
                            height: auto;
                            border: 2px solid black;
                            outline: none;
                            background: rgba(197, 197, 197, 0.596);
                            color: white;
                            padding: 10px 30px;
                            font-family: poppins;
                            font-size: 20px;
                            font-weight: 500;
                            letter-spacing: 1px;
                            cursor: pointer;
                            transition: 0.25s;
                            border-radius: 4px;
                            margin-bottom: 20px;

                            :hover {
                                outline: 3px solid yellow;
                                background: grey;
                            }
                        }


                    }


                    .light {
                        position: absolute;
                        right: 20px;
                        bottom: 12px;
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        /* z-index: 99; */

                        .torch-icon {
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            line-height: 30px;
                            font-size: 26px;
                            color: white;
                            /* z-index: 110 !important; */
                        }

                        .beam {
                            position: absolute;
                            top: 50%;
                            right: 15px;
                            transform: translate(0, -50%);
                            clip-path: polygon(0 0, 0% 100%, 100% 50%);
                            background: yellow;
                            width: 100vw;
                            height: 30vh;
                            mix-blend-mode: multiply;
                            z-index: 1000 !important;
                            transition: 0.2s ease-out;
                            transform-origin: 100% 50%;
                            pointer-events: none;
                            max-height: 0;
                            overflow: hidden;

                            .on {
                                max-height: 30vh;
                            }

                        }


                    }


                    .alt {
                        position: relative;
                        /* width: inherit; */
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between !important;


                        a {
                            text-decoration: none;
                            color: rgb(212, 210, 210);
                            z-index: 100;
                        }
                    }



                }



                .signup form#signin {
                    left: -100% !important;
                    transition: 0.5s;
                }

                .signup form#signupform {
                    left: 0 !important;
                    transition: 0.5s;
                }











            }



        }


    }

   
    .logPage1{
        position: absolute;
        // display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // position: relative;
        height: 100% ;
        width: 100%;
        background-color: green;
        // z-index: 1000;
        display: none;
        opacity: 0;
        // z-index: 100;
        transition: opacity 1s ease-in-out;
        transition: 2s;
        // transition-delay: display 2s;

        .pgReverse {
            // display: inline;
            // position: absolute;
            width: 70px;
            height: 50px;
            background-color: #e3e3e3;
            border-radius: 20px;
            box-shadow: 0 5px 25px rgba(1 1 1/30%);
            cursor: pointer;
            overflow: hidden;
            transition: transform 0.20s linear;
            border: none;
            color: #333;
            // margin-bottom: 800px;
            // margin-left: 300px;
            // margin-top: -800px;
            // transition: 0.5s ease-in-out;
            // transition-delay: 0.5s;
            // opacity: 1;
            // z-index: 500 !important;
        }
    }
        // .logPage1::before {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background: linear-gradient(#f00, #f0f);
        //     clip-path: circle(30% at right 70%);
        //     transition: 0.8s;
        // }

        // .logPage1::after {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background: linear-gradient(#2196f3, #f0f);
        //     clip-path: circle(20% at 10% 10%);
        //     transition: 0.8s;
        // }
    

   .testDiv{
    width: 100px;
    height: 100px;
    background-color: pink;
   }

}