@import "./mixins";

@import "./variables";

@import "./mediaquery";


body{
    // background-color: green;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

@font-face {
    font-family: myfontfamily;
    src: url(../SoutherRegular-L3ppy.ttf);
}

nav{
    padding: 12px 50px !important;
    z-index: 10;
    display: block;
    width: 100%;
    position: fixed !important;

    // @include lg{
    //     padding: 0;
    // }
}

.navbar-toggler{
    border-color: white;
    color: white;
}

.navbar-scrolled{
    background: linear-gradient(to right,rgba($color: #ccccff, $alpha: 0.8),rgba($color: #00bcd4, $alpha: 0.8)) !important;
    backdrop-filter: blur(10px) !important;
    // background-color: rgba($color: #000000, $alpha: 0.5) !important;
    box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.15) !important;
    transition: 1000ms ease-in-out background-color ;


}

.navbarNav{
    display: flex;
    // margin-right: 30px;
}

.container-fluid a,li a{
    color: honeydew !important;
    
}

.navbar-brand{
    font-family: myfontfamily;
    font-size: 2rem;
    font-weight: bolder;
}

ul{
    @include ul
}
        
main{
    // position: relative;
    @include main
}

.modal-dialog{
    width: 50% !important;
    height: 70% !important;
    border-radius: 30px !important;
    
    .modal-header{
        background: linear-gradient(to right,rgba($color: #10031a, $alpha: 0.8),rgba($color: #44446e, $alpha: 0.7)) !important;
        backdrop-filter: blur(10px) !important;

        h2{
            // font-family: myfontfamily;
            color: #cccffc;
            font-size: 3rem;
            font-weight: bolder;
            text-align: center;
        }
    }
}

.cardsection{
    @include cardsection
}

.carsec{
   @include carsec
}

.paraimg{
    @include paraimage
}

.bg2{

    background-image: url(../assets/img/converted/trees.webp);
    
}

.bg3{
    // filter: brightness(80%);
    background-image: url(../assets/img/converted/teamtrucks.jpg);
}

.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -460px;
    position: relative;

}

.layer1{
    background-image: url(../assets/img/converted/layered-waves-haikei.png);

}


footer{
    @include footer
}

.acardsection{
    @include acardsection
}

.cardwave{
    position: relative;
    top: -195px;
    width: 100%;
    height: 120rem;
    // background-color: pink;

}

.wave {
    position: relative;
    top: 2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 195px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: honeydew;
}

.modal-content{
    form{
    @include form
}

}

.aside{
    @include aside
}