//color
$whitecolor: #FAFAFA;
$blackcolor: #111111;
$btncolor: #e10a40;
$h1color: #E5E5E5;
$textcolor1: #FFFFFF;
$textcolor2: #111111;
$appleh: #999999;
$textcolor3: #808080;
$secbg: #4D4D4D;
$conbg: #808080;
$footer: #333333;